.controllers {
  display: flex;
  & button {
    & > svg {
      & > path {
        stroke: #309c54;
      }
    }
  }
  &__disabled {
    cursor: not-allowed;
    & > svg {
      & > path {
        stroke: #cecece !important;
      }
    }
  }
}

.datePicker {
  &__monthButton {
    background-color: #fff;
    color: #309c54;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-right: 10px;
  }
  &__monthModal {
    position: absolute;
    top: 50%;
    left: 0px;
    display: flex;
    flex-direction: column;
    height: 220px;
    overflow-y: scroll;
    box-shadow: 0px 4px 26px 0px rgba(176, 176, 176, 0.09),
      0px -3px 17px 0px rgba(101, 101, 101, 0.06);
    border-radius: 4px;
    &_option {
      padding: 5px;
      text-align: left;
      background-color: #fff;
      color: #309c54;
      font-family: Inter;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      &:hover {
        background-color: #309c54 !important;
        color: #fff !important;
      }
    }
  }
  &__input {
    display: flex;
    align-items: center;
    gap: 13px;
    padding: 13px 30px;
    border-radius: 35px;
    background: #fff;
    width: 296px;
    transition: all 0.3s ease-in-out;
    &_active {
      outline: 1px solid #309c54 !important;
    }
    &_input {
      border: none;
      color: #8a8a8a;
      font-family: Inter;
      font-size: 13px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      &:focus-visible {
        border: none !important;
        outline: none !important;
      }
      &::placeholder {
        opacity: 1;
      }
    }
  }
  &__selectContainer {
    & > div {
      margin-right: 10px;
      & div {
        &:focus-visible {
          border: none !important;
          box-shadow: none !important;
        }
      }

      & > div {
        border: none;
        &:hover,
        &:focus,
        &:active {
          border: none !important;
          box-shadow: none !important;
        }
        & > div {
          &:first-child {
            padding: 0px;
            font-family: Inter;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            & > div {
              color: #309c54;
            }
          }
          &:nth-child(2) {
            display: none;
          }
        }
      }
    }
    &_month {
      & > div {
        &:nth-child(4) {
          width: 130px;
          & > div {
            border-radius: 4px;
            height: 180px;
          }
        }
      }
    }
    &_year {
      & > div {
        &:nth-child(4) {
          width: 100px;
          & > div {
            border-radius: 4px;
            height: 180px;
          }
        }
      }
    }
  }
}

.customOption {
  text-align: left;
  padding: 5px;
  &:hover {
    background-color: #309c54;
    color: #fff !important;
  }
}

@media screen and (max-width: 980px) {
  .datePicker {
    &__input {
      width: 260px !important;
      & > svg {
        flex-shrink: 0;
      }
    }
  }
}

@media screen and (max-width: 690px) {
  .datePicker {
    &__input {
      width: 100% !important;
      outline: 1px solid #e4e4e4;
      & > svg {
        flex-shrink: 0;
      }
    }
  }
}
