.department {
  margin-bottom: 90px;
  h1 {
    color: #000;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 115.023%; /* 46.009px */
    text-transform: uppercase;
    text-align: center;
    margin-block: 40px;
    margin-inline: auto;
  }
  &__inner {
    max-width: 1100px;
    display: flex;
    flex-direction: column;
   margin-inline: auto;
    gap: 15px;
    &_item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 100px;
      padding: 15px 30px;
      max-width: 1300px;
      background: #FFF;
      box-shadow: 0px 4px 6px 0px rgba(85, 85, 85, 0.08);
      &_text {
        display: flex;
        align-items: center;
        gap: 20px;
        h5 {
          max-width: 800px;
          color: #000;
          font-family: Inter;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
        div {
          min-width: 7px;
          min-height: 35px;
          background: #309c54;
        }
      }
      svg {
        min-width: 49px;
        path {
          stroke: #309c54;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .department {
    margin-bottom: 70px;
    h1 {
      font-size: 30px;
      font-style: normal;
      font-weight: 400;
      margin-block: 20px;
    }
    &__inner {
      gap: 15px;
      &_item {
        gap: 0;
        padding: 15px 25px;
        &_text {

          gap: 20px;
          h5 {
            font-size: 16px;
            font-weight: 600;
          }
          div {
            min-width: 5px;
            min-height: 30px;
          }
        }
        svg {
         display: none;
        }
      }
    }
  }

}
@media only screen and (max-width: 390px) {
  .department {
    margin-bottom: 50px;
    h1 {
      font-size: 22px;
      font-weight: 400;
      margin-block: 40px 20px;
    }
    &__inner {
      &_item {
        gap: 0;
        padding: 14px 20px;
        border-radius: 5px;
        border-left: 3px solid #309C54;
        &_text {

          h5 {
            font-size: 18px;
            font-weight: 500;
          }
          div {
            display: none;
          }
        }
      }
      .showButton {
        padding-top: 5px;
        color: #000;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
