.react-datepicker__day--in-selecting-range:not(.react-datepicker__day--in-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--in-range) {
  background-color: rgba(48, 156, 84, 0.35) !important;
  color: #fff !important;
}

.react-datepicker__day
  .react-datepicker__day--001
  .react-datepicker__day--in-range
  .react-datepicker__day--weekend
  .react-datepicker__day--outside-month {
  color: #fff !important;
}
.react-datepicker__day--in-range {
  color: rgba(255, 255, 255, 0.37) !important;
  background-color: rgba(48, 156, 84, 0.35) !important;
  border-radius: 0px !important;
  &:hover {
    color: #fff !important;
    background-color: rgba(48, 156, 84, 0.35) !important;
  }
}
.react-datepicker-popper[data-placement^="top"]
  .react-datepicker__triangle::before,
.react-datepicker-popper[data-placement^="bottom"]
  .react-datepicker__triangle::before,
.react-datepicker-popper[data-placement^="top"]
  .react-datepicker__triangle::after,
.react-datepicker-popper[data-placement^="bottom"]
  .react-datepicker__triangle::after {
  border: none !important;
}
.react-datepicker {
  border-radius: 20px !important;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.react-datepicker__month-container {
  border-radius: 20px;
  padding: 25px 34px;
  background: #fff;
}

.react-datepicker-popper[data-placement^="bottom"] {
  padding-top: 8px !important;
  inset: 0px auto auto 0px !important;
}

.react-datepicker {
  border: none !important;
  position: relative;
  z-index: 10;
}

.react-datepicker__header {
  padding-top: 0px !important;
  padding-bottom: 5px !important;
  background-color: #fff !important;
  border: none !important;
  & > div {
    justify-content: space-between !important;
    margin: 0px !important;
    display: flex;
    gap: 12px;
    margin-bottom: 5px !important;
    &:first-child {
      & > div {
        display: flex;
        // gap: 16px;
      }
    }
    & select {
      background-color: transparent;
      border: none;
      color: #309c54;
      font-family: Inter;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      width: auto !important;
      -moz-appearance: none; /* Firefox */
      -webkit-appearance: none; /* Safari and Chrome */
      appearance: none;
      & option {
        max-width: 100%;
        width: auto;
      }
    }
  }
}

.react-datepicker__day-name {
  color: #7a828b !important;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal !important;
  text-transform: capitalize;
  margin: 0px !important;
  width: 24px;
  height: 24px;
}

.react-datepicker__month {
  margin: 0px !important;
}

.react-datepicker__week {
  display: flex;
  // gap: 12px;
  & > div {
    padding: 12px !important;
    margin: 0px !important;
    margin-block: 2px !important;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.react-datepicker__day--selected,
.react-datepicker__day--range-end {
  border-radius: 3px !important;
  background: #309c54 !important;
  color: #fff !important;
}

.react-datepicker__day--range-start {
  border-radius: 3px 0 0 3px !important;
}

.react-datepicker__day--range-end {
  border-radius: 0 3px 3px 0 !important;
}

.react-datepicker__day--keyboard-selected:hover {
  border-radius: 0.3rem !important;
  background-color: #f0f0f0 !important;
}

.react-datepicker__day--keyboard-selected {
  background: transparent !important;
}

.react-datepicker__day--outside-month {
  color: #b9b9b9 !important;
}

.react-datepicker__day--disabled {
  color: #b9b9b9 !important;
}

.react-datepicker__input-container {
  & > input {
    border: none;
    color: #8a8a8a;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

@media screen and (max-width: 690px) {
  .react-datepicker-wrapper {
    width: 100% !important;
  }
}
