.controllers {
  padding: 20px 0;
  & h1 {
    color: #000;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1100px) {
  .controllers {
    & h1 {
      color: #000;
      /* h1 */
      font-family: Inter;
      font-size: 30px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;
    }
  }
}
