.modal {
  & > h1 {
    color: $font-color;
    font-family: Inter;
    font-size: calc(var(--themeFontSize) * 16px);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  & > p {
    color: #7a828b;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.dashboard {
  display: flex;
  flex-direction: column;
  gap: 20px;
  &__item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 0px 0px 5px 5px;
    border-top: 1px solid $primary-color;
    background: var(--themeBgColor, #fff);
    box-shadow: 0px 4px 6px 0px rgba(85, 85, 85, 0.08);
    padding: 22px 15px;
    &_userID {
      color: $font-color;
      text-align: right;
      font-family: Inter;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-decoration-line: underline;
      cursor: pointer;
    }
    &_actions {
      display: flex;
      gap: 8px;
    }
    & > div {
      display: grid;
      grid-template-columns: 1fr max-content;
      gap: 35px;
      & > span {
        color: $font-color;
        text-align: right;
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        &:first-child {
          font-size: 14px;
          font-weight: 500;
          word-break: break-all;
          text-align: left;
        }
        &:last-child {
          flex-shrink: 0;
        }
      }
    }
  }
  & button {
    width: 27px;
    min-width: 27px;
    height: 27px;
    & > a {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
.tooltip {
  display: flex;
  flex-direction: column;
  gap: 20px;

  & > div {
    display: flex;
    flex-direction: column;
    gap: 11px;
  }
  & span {
    color: rgba(0, 0, 0, 0.26);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  & h5 {
    width: max-content;
    color: $font-color;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.status {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 45px;
  height: 27px;
  position: relative;
  width: fit-content;
  & span {
    padding-inline: 34px;
  }
  & svg {
    &:first-child {
      position: absolute;
      top: 50%;
      left: 25.5px;
      content: "";
      transform: translate(0, -50%);
    }
    flex-shrink: 0;
    &:last-child {
      position: absolute;
      top: 50%;
      right: 15px;
      content: "";
      transform: translate(0, -50%);
    }
  }
  &__completed {
    background: rgba(16, 163, 92, 0.2);
    color: var(--themeColor, #309c54);
    & > svg {
      & > circle {
        fill: #309c54;
      }
    }
  }
  &__progress {
    background: rgba(255, 122, 0, 0.2);
    color: var(--themeColor, #ff7a00);
    & > svg {
      & > circle {
        fill: #ff7a00;
      }
    }
  }
  &__rejected {
    background: rgba(163, 16, 16, 0.2);
    color: var(--themeColor, #f33a3a);
    & > svg {
      & > circle {
        fill: #f33a3a;
      }
    }
  }
}
