.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  & > div {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: var(--themeBgColor, #fff);
  }
  &__main {
    position: relative;
    & > a {
      content: "";
      position: fixed;
      right: 70px;
      top: 100px;
      background-color: var(--themeBgColor, #fff);
      box-shadow: 0px 4px 6px 0px rgba(85, 85, 85, 0.08);
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 9px;
      border-radius: 50%;
      z-index: 25;
      & > svg {
        width: 19px;
        height: 19px;
        flex-shrink: 0;
      }
      & > span {
        position: absolute;
        content: attr(data-count);
        top: -4px;
        right: -4px;
        display: flex;
        width: 16px;
        height: 16px;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: red;
        text-transform: uppercase;
        color: var(--themeColor, #fff);
        font-family: Inter;
        font-size: calc(var(--themeFontSize) * 12px);
        font-style: normal;
        font-weight: 500;
        line-height: 115.023%;
      }
    }
  }
}
