.formModal {
  border-radius: 15px;
  // position: absolute;
  background-color: #fff;
  padding: 40px 50px;
  max-width: 688px;
  width: calc(100% - 80px);
  margin-inline: 40px;
  margin-top: 100px;
  height: fit-content;
  &__Viber {
    &_status {
      display: flex;
      align-items: center;
      gap: 15px;
      & > svg {
        width: 24px;
        height: 24px;
        background-color: $primary-color;
        border-radius: 50%;
      }
      & > span {
        color: #828282;
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
  &__contact {
    display: flex;
    flex-direction: column;
    gap: 25px;
    &_options {
      display: flex;
      flex-direction: column;
      gap: 15px;
      & > div {
        flex-direction: row;
        align-items: center;
        & > div {
          &:nth-child(1) {
            order: 2;
            & label {
              color: $font-color;
              font-family: Inter;
              font-size: 15px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
          }
          &:nth-child(2) {
            order: 1;
            flex-shrink: 0;
            & span {
              position: relative;
              display: inline-block;
              width: 11px;
              height: 11px;
              background-color: inherit;
              color: #017b5f;
              border: 2px solid $primary-color;
              border-radius: 24px;
              &::after {
                content: "";
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                width: 5px;
                height: 5px;
                background-color: #01a982;
                border-radius: 12px;
                opacity: 0;
                transform: translate(-50%, -50%);
                transition: all 0.2s linear;
              }
            }
            & input {
              width: fit-content;
              height: fit-content;
              display: none;
              &:checked + span:after {
                opacity: 1;
              }
            }
          }
        }
      }
    }
    &_title {
      display: flex;
      gap: 10px;
      & > span {
        &:first-child {
          color: $font-color;
          font-family: Inter;
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
        &:nth-child(2) {
          color: #828282;
          font-family: Inter;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          &::first-letter {
            color: #ff0101;
          }
        }
      }
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  &__input {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    & > div {
      gap: 5px;
      & > div {
        width: 100%;
      }
      & input {
        width: 100%;
        border-radius: 5px;
        border: 1px solid #d4d4d4;
        &:focus {
          outline: none;
        }
      }
    }
  }
  &__textarea {
    display: flex;
    flex-direction: column;
    gap: 5px;
    & > span {
      color: #707070;
      font-family: Inter;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    & > textarea {
      padding: 15px 20px;
      width: 100%;
      border-radius: 5px;
      border: 1px solid #d4d4d4;
      resize: none;
      height: 183px;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      line-height: normal;
      &:focus {
        border-color: $primary-color;
        outline: none;
      }
      &::placeholder {
        color: #727272;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }
  }
  &__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 25px;
    & > div {
      & > h1 {
        color: $font-color;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 5px;
      }
      & > p {
        color: #888;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }
    & > button {
      & > svg {
        width: 24px;
        height: 24px;
        & > path {
          stroke: #5a5959;
        }
      }
    }
  }
}

.moreInfo {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

@media screen and (max-width: 700px) {
  .formModal {
    padding: 40px 20px;
    margin-inline: 20px;
    width: calc(100% - 40px);
    &__contact {
      &_title {
        & > span {
          &:first-child {
            color: $font-color;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
          &:nth-child(2) {
            font-size: 0px;
            &::first-letter {
              font-size: 12px;
            }
          }
        }
      }
    }
    &__textarea {
      & > span {
        color: #707070;
        font-family: Inter;
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
    &__header {
      & > div {
        & > h1 {
          color: $font-color;
          font-family: Inter;
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
        & > p {
          color: #888;
          font-family: Inter;
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }
    }
    &__customField {
      gap: 13px;
    }
  }
}
