.corps {
  margin-bottom: 70px;
  & > div {
    & > h1 {
      color: #000;
      font-family: Inter;
      font-size: 40px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-transform: uppercase;
      text-align: center;
      margin-top: 40px;
    }
    & > h2 {
      color: #000;
      font-family: Inter;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin-bottom: 40px;
      text-align: center;
    }
  }
  &__inner {
    width: 100%;
    border-collapse: collapse;
    td, th {
      border: 1px solid rgba(48, 156, 84, 0.4);
    }
    thead {
      th {
        color: #000;
        text-align: center;
        font-family: Inter;
        font-size: 19px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding-block: 33px 31px;
        &:first-of-type {
          width: 32.7%;
        }
        &:nth-of-type(2) {
          width: 35%;
        }
        &:nth-of-type(3) {
          width: 32%;
        }
      }
    }
    tbody {
      td {
          height: 119px;
        text-align: center;
        vertical-align: center;
        padding: 21px 37px;
      }
    }
    &_name {
      h5 {
        color: #000;

        text-align: center;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        }
    }
    &_position {
       p {
         color: #000;
         text-align: center;
         font-family: Inter;
         font-size: 16px;
         font-style: normal;
         font-weight: 400;
         line-height: normal;
       }

    }
    &_contacts {
      p {
        color: #000;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 1130px) {
  .corps {
    &__inner {
      thead {
        th {
          padding: 20px 25px;
        }
      }
      tbody {
        td {
          height: 100px;
          padding: 20px;
        }
      }
    }
  }
}
@media screen and (max-width: 850px) {
  .corps {
    &__inner {
      thead {
        th {
          padding: 15px 20px;
        }
      }
      tbody {
        td {
          padding: 20px 12px;
        }
      }
    }
  }
}
@media screen and (max-width: 800px) {
  .corps {
    margin-bottom: 90px;
    & > div {
      & > h1 {
        font-size: 30px;
        font-weight: 400;
        margin-top: 20px;
      }
      & > h2 {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 20px;
      }
    }
    &__inner {
      display: flex;
      flex-direction: column;
      gap: 15px;
     &_item {
        padding: 15px;
       display: flex;
       flex-direction: column;
       gap: 10px;
       border-radius: 5px;
       background: #FFF;
       box-shadow: 0px 4px 10px 0px rgba(169, 169, 169, 0.12);
       h4 {
         color: #000;

         font-family: Inter;
         font-size: 15px;
         font-style: normal;
         font-weight: 500;
         line-height: normal;
         margin-bottom: 5px;
       }
       h5 {
         color: #000;

         font-family: Inter;
         font-size: 13px;
         font-style: normal;
         font-weight: 500;
         line-height: normal;
         margin-bottom: 5px;
       }
       p {
         color: #1E1E1E;

         font-family: Inter;
         font-size: 15px;
         font-style: normal;
         font-weight: 400;
         line-height: normal;
       }
     }
    }
  }

}
@media screen and (max-width: 390px) {
  .corps {
    & > div {
      & > h1 {
        font-size: 22px;
        font-weight: 400;
        margin-top: 40px;
      }
    }
    &__inner {
      &_item {
        h4 {
          margin-bottom: 3px;
        }
        h5 {
          margin-bottom: 3px;
        }
      }
    }
  }

}