.form {
	display: flex;
	gap: 25px;
	&__button {
		height: fit-content;
		margin-top: 36.6px;
	}
}

@media screen and (max-width: 1160px) {
	.form {
		display: grid;
		grid-template-columns: auto 1fr;
		&__button {
			margin-top: 0px;
		}
	}
}

@media screen and (max-width: 1000px) {
	.form {
		grid-template-columns: 1fr;
	}
}
