.navLink {
  & > a,
  & span {
    font-family: Inter;
    font-size: calc(var(--themeFontSize) * 14px);
    color: #000;
    font-style: normal;
    font-weight: 500;
    line-height: 115.023%;
    width: max-content;
    position: relative;
  }
  &:last-child {
    padding-right: 0px;
  }
}
