.stepper {
  &__step {
    &_label {
      & > span > span {
        color: #000;
        font-family: Inter;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 115.023%;
      }
    }
    &_content {
      &_wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
        & > div {
          position: relative;
          display: flex;
          gap: 15px;
        }
        &_button {
          &_timer {
            display: flex;
            align-items: center;
            gap: 5px;

            & span {
              color: #000;
              font-family: Inter;
              font-size: 13px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              user-select: none;
            }
          }
        }
        &_textField {
          margin-top: 15.5px;
          &_timer {
            position: absolute;
            bottom: 0px;
            right: 0px;
            display: flex;
            align-items: center;
            gap: 5px;
            margin-bottom: 6px;
            & span {
              color: #000;
              font-family: Inter;
              font-size: 13px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              user-select: none;
            }
          }
          & input {
            width: 418px;
            color: #000 !important;
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }
        & button {
          width: fit-content;
          padding: 8px 14px;
          text-transform: unset;
          border-radius: 3px;
          border-radius: 3px;
          background: #fff;
          box-shadow: 0px 4px 6px 0px rgba(85, 85, 85, 0.15);
          color: rgba(0, 0, 0, 0.87);
          font-family: Inter;
          font-size: 13px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          &:hover {
            background: #fcfcfc;
          }
        }
      }
    }
  }
}
