.stepper {
  &__step {
    &_label {
      & > span > span {
        font-family: Inter;

        font-style: normal;
        font-weight: 500;
        line-height: 115.023%;
        &:first-child {
          color: #000;
          font-size: 15px;
        }
      }
    }
    &_content {
      &_wrapper {
        margin-top: 15px;
        display: flex;
        gap: 20px;
        & > div {
          position: relative;
          display: flex;
          align-items: center;
        }
        &_flex {
          display: flex;
          flex-direction: column;
          align-items: flex-start !important;
          &_validationContainer {
            display: flex;
            flex-direction: column;
            gap: 10px;
            color: #737373;
            font-family: Inter;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            margin-bottom: 15px;
            & > div {
              display: grid;
              grid-template-columns: 138px auto;
              align-items: center;
              gap: 23px;
              & > svg {
                background-color: #f2f2f2;
                border-radius: 50%;
              }
            }
          }
          &_input {
            margin: 0;
            position: relative;
            & > div {
              &:first-child {
                border-radius: 7px;

                color: #309c54 !important;

                & input {
                  color: rgba(0, 0, 0, 0.6);
                  font-family: Inter;
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: normal;
                  padding: 9px 20px;
                  width: 275px;
                  &:hover {
                    outline: none;
                  }
                  &:focus {
                    border: none;
                    outline: none;
                  }
                }
              }
              &:nth-child(2) {
                position: absolute;
                right: 34px;
                top: calc(50%);
                & > button {
                  box-shadow: none;
                  padding: 0px;
                  & > svg {
                    width: 20px;
                    height: 20px;
                    fill: #9f9f9f;
                  }
                }
              }
            }
          }
        }
        &_button {
          &_timer {
            display: flex;
            align-items: center;
            gap: 5px;

            & span {
              color: #000;
              font-family: Inter;
              font-size: 13px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              user-select: none;
            }
          }
        }
        &_textField {
          margin-top: 15.5px;
          &_timer {
            position: absolute;
            bottom: 0px;
            right: 0px;
            display: flex;
            align-items: center;
            gap: 5px;
            margin-bottom: 6px;
            & span {
              color: #000;
              font-family: Inter;
              font-size: 13px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              user-select: none;
            }
          }
          & input {
            width: 418px;
            color: #000 !important;
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }
        & > button {
          height: 38px;
          width: fit-content;
          padding: 9px 16px;
          text-transform: unset;
          border-radius: 5px;
          background: var(--green, #309c54);
          box-shadow: 0px 4px 6px 0px rgba(85, 85, 85, 0.15);
          color: #fff;
          font-family: Inter;
          font-size: 13px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          &:hover {
            background: var(--green, #206537);
          }
        }
      }
    }
  }
}

.error {
  & fieldset {
    border-color: #d32f2f !important;
  }
}

.success {
  & fieldset {
    border-color: #309c54 !important;
  }
}

@media screen and (max-width: 550px) {
  .stepper {
    &__step {
      &_content {
        &_wrapper {
          gap: 10px;
          flex-direction: column;
          align-items: flex-start;
          &_flex {
            &_input {
              width: 100%;
              display: grid;
              grid-template-columns: 1fr auto;
            }
            width: 100%;
          }
          & input {
            width: 100% !important;
          }
          & button {
            padding: 5px 17px;
          }
        }
      }
    }
  }
}
