.langSwitcher {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #309c54;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  text-transform: uppercase;
  color: var(--themeBgColor, #fff);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 115.023%;
  cursor: pointer;
}
